
<h1 class="d-flex justify-content-center pb-3 pt-3 text">Registration</h1>

<div class="form-group">
  <form [formGroup]="form">

    <div class="pb-3">
      <label for="firstName" class="form-label text">LastName</label>
      <input
        type="text" class="form-control"
        placeholder="Please write your firstname"
        formControlName="firstName"
        id="firstName"
      >
    </div>

    <div class="pb-3">
      <label for="lastName" class="form-label text">LastName</label>
      <input
        type="text" class="form-control"
        placeholder="Please write your lastname"
        formControlName="lastName"
        id="lastName"
      >
    </div>

    <div class="pb-3">
      <label for="dueDate" class="form-label text">DateOfBirth</label>
      <div class="input-group">
        <input
          class="form-control" placeholder="yyyy-mm-dd"
          name="dp"  ngbDatepicker #d="ngbDatepicker" id="dueDate"
          formControlName="dateOfBirth"
          [class.is-invalid]="form.controls['dateOfBirth'].touched && form.controls['dateOfBirth'].invalid"
        >
        <button class="btn btn-outline-primary calendar" (click)="d.toggle()" type="button"></button>
      </div>
      <ul>
        <li class="text-danger"
            *ngIf="form.controls['dateOfBirth'].invalid && (form.controls['dateOfBirth'].touched || form.controls['dateOfBirth'].dirty)">
          <span>Due date must be YYYY-MM-DD and not required.</span>
        </li>
      </ul>
    </div>

    <div class="pb-3">
      <label for="email" class="form-label text">Email</label>
      <input
        type="text" class="form-control"
        placeholder="Please write your email"
        formControlName="email"
        id="email"
      >
      <ul>
        <li class="text-danger" *ngIf="form.controls['email'].hasError('pattern') || form.controls['email'].hasError('maxlength')">
          Invalid email address
        </li>
        <li class="text-danger" *ngIf="form.controls['email'].hasError('emailExists')">
          This email address is already registered. Please use another one.
        </li>
      </ul>
    </div>

    <div class="w100-dropdown-container pb-3">
      <label for="framework" class="form-label text">Framework</label>
      <input
         id="framework" type="text" class="form-control" placeholder="Select Framework"
         formControlName="framework" [ngbTypeahead]="searchFramework"
         (focus)="frameworkFocus$.next($any($event).target.value)" (click)="frameworkClick$.next($any($event).target.value)"
         [editable]='false' #frameworkInstance="ngbTypeahead"
         [class.is-invalid]="form.controls['framework'].touched && form.controls['framework'].invalid"
      />
    </div>

    <div class="pb-3" *ngIf="form.controls['framework'].value === 'angular'">
      <label for="frameworkVersionAngular" class="form-label text">Framework Version</label>
      <select class="form-select" formControlName="frameworkVersion" id="frameworkVersionAngular">
        <option value="1.1.1">1.1.1</option>
        <option value="1.2.1">1.2.1</option>
        <option value="1.3.1">1.3.1</option>
      </select>
    </div>

    <div class="pb-3" *ngIf="form.controls['framework'].value === 'react'">
      <label for="frameworkVersionReact" class="form-label text">Framework Version</label>
      <select class="form-select" formControlName="frameworkVersion" id="frameworkVersionReact">
        <option value="1.1.1">1.1.1</option>
        <option value="1.2.1">1.2.1</option>
        <option value="1.3.1">1.3.1</option>
      </select>
    </div>

    <div class="pb-3" *ngIf="form.controls['framework'].value === 'vue'">
      <label for="frameworkVersionVue" class="form-label text">Framework Version</label>
      <select class="form-select" formControlName="frameworkVersion" id="frameworkVersionVue">
        <option value="2.1.2">2.1.2</option>
        <option value="3.2.4">3.2.4</option>
        <option value="4.3.1">4.3.1</option>
      </select>
    </div>
  </form>
  <form [formGroup]="hobby">
    <div class="w100-dropdown-container pb-3">
      <label for="hobbies" class="form-label text">Hobbies</label>
      <input
        id="hobbies" type="text" class="form-control" placeholder="Select Hobbies"
        formControlName="name" [ngbTypeahead]="searchHobbies"
        (focus)="hobbyFocus$.next($any($event).target.value)" (click)="hobbyClick$.next($any($event).target.value)"
        [editable]='false' #hobbyInstance="ngbTypeahead"
      />
    </div>
    <div class="d-flex justify-content-center" *ngIf="hobby.valid">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!hobby.valid" (click)="addHobby()">Add hobbies</button>
    </div>
    <div class="w100-dropdown-container pb-3">
      <label for="duration" class="form-label text">Hobby duration</label>
      <input
        id="duration" type="text" class="form-control" placeholder="Select Hobbies"
        formControlName="duration" [ngbTypeahead]="searchDuration"
        (focus)="durationFocus$.next($any($event).target.value)" (click)="durationClick$.next($any($event).target.value)"
        [editable]='false' #durationInstance="ngbTypeahead"
      />
    </div>

  </form>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-outline-primary" [disabled]="!form.valid || selectedHobbies.length === 0" (click)="onSubmit()">Registration</button>
  </div>
</div>
